%h1 Objetivo
%p Este sitio sirve contenido educativo de Ruby on Rails.

%p Un estudiante típico es una persona que quiere aprender el desarrollo de un sitio web.

%p
%p A menudo, un estudiante también quiere construir un negocio que depende de un sitio web.

%p Rails es un marco que proporciona un contexto para la capacitación en desarrollo de sitios web.

%p En mi opinión, aprender Rails es la mejor manera de aprender sobre el desarrollo de sitios web.

%p Un sitio web valioso suele ser una gran mezcla de tecnologías de software.

%p Rails le ofrece un camino claro a seguir al mezclar diferentes tipos de software en un sitio web.

%p Si no tiene un camino claro, puede quedar atrapado en un mundo de confusión al tratar de aprender todas las piezas de tecnología que conforman un sitio valioso.

%p Si desea crear sitios web o crear un negocio que los necesite, Rails es su mejor avenida.
