%h1 About
%p This site serves Ruby on Rails educational content.
%p A typical student is a person who wants to learn website development.
%p Often a student wants to also build a business which depends on a website.
%p Rails is a framework which provides context for website development training.
%p In my opinion, learning Rails is the best way to learn website development.
%p A valuable website is usually a large mix of software technologies.
%p Rails offers you a clear path to follow as you mix different types of software into a website.
%p If you have no clear path, you could get stuck in a world of confusion as you try to learn all the pieces of technology which make up a valuable site.
%p If you want to build websites or build a businesses which needs them, Rails is your best avenue.
