%h1 Blog
%h3 2018-09-29 Dan Bikle
%p When building a website, I often agree with the idea that too much choice will slow me down.
%p For example if I want my site to accept payments, I can build my site quicker if I support only one kind of payment.
%p Or when I manage a development team, I dictate that each member develop code only on Ubuntu 16.
%p If some members are developing on Mac, others on Windows, others on Mint, and others on Fedora this leads to slow progress because sometimes bugs only appear in one environment.
%p If everyone uses the same OS, Ubuntu 16 for example, progress is faster.
%p Progess is faster because deploying a development environment across many types of laptops is difficult.

%p Another advantage of Ubuntu 16 is that I also use it for production.
%p If my site runs bug-free in my Ubuntu 16 dev-env on my laptop, it has a better chance of running bug free in my Ubuntu 16 production environment.

%p Currently I consider Ubuntu 16 optimal for Rails development.
%p Support for Ubuntu 16 will end April 2021; At that time I will pick an alternative.
%p Until then my OS-development-choice will be made; less choice means faster progress.

