%h1 Blog
%h3 2018-09-29 Dan Bikle

%p Al crear un sitio web, a menudo estoy de acuerdo con la idea de que demasiadas opciones me ralentizarán.
%p Por ejemplo, si quiero que mi sitio acepte pagos, puedo crear mi sitio más rápido si solo admito un tipo de pago.
%p O cuando administro un equipo de desarrollo, ordeno que cada miembro desarrolle un código solo en Ubuntu 16.
%p Si algunos miembros se están desarrollando en Mac, otros en Windows, otros en Mint y otros en Fedora, esto lleva a un progreso lento porque a veces los errores solo aparecen en un entorno.
%p Si todos usan el mismo sistema operativo, Ubuntu 16 por ejemplo, el progreso es más rápido.
%p Progess es más rápido porque es difícil implementar un entorno de desarrollo en muchos tipos de computadoras portátiles.

%p Otra ventaja de Ubuntu 16 es que también lo uso para producción.
%p Si mi sitio se ejecuta sin errores en mi Ubuntu 16 dev-env en mi computadora portátil, tiene más posibilidades de ejecutarlo sin errores en mi entorno de producción Ubuntu 16.

%p Actualmente considero Ubuntu 16 óptimo para el desarrollo de Rails.
%p El soporte para Ubuntu 16 finalizará en abril de 2021; En ese momento voy a elegir una alternativa.
%p Hasta entonces se hará mi elección de desarrollo de SO; menos elección significa un progreso más rápido.
