[user]
	name = Ron Railsmith
	email = railsmith4@outlook.com
[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true

[alias]
	br = branch
	df = diff
	pom = push origin master
	pbm = push bit master
	pgm = push gh master
	phm = push heroku master
	st = status
        ciam = commit -a -m
        co = checkout

