%h1 Lessons

%p This page leads you to some of the lessons I have learned.
%ul
  %li
    %a(href='/lessons/lesson001') Lesson 001 [ Shop for Laptop ]
  %li
    %a(href='/lessons/lesson002') Lesson 002 [ Install Ubuntu on Laptop ]
  %li
    %a(href='/lessons/lesson003') Lesson 003 [ Install Development Software on Ubuntu ]
  %li
    %a(href='/lessons/lesson004') Lesson 004 [ Start With Bash ]
  %li
    %a(href='/lessons/lesson005') Lesson 005 [ More Bash ]
  %li
    %a(href='/lessons/lesson006') Lesson 006 [ Emacs Introduction ]
  %li
    %a(href='/lessons/lesson007') Lesson 007 [ Emacs + Bash + Rails ]
  %li
    %a(href='/lessons/lesson008') Lesson 008 [ Rails Bash Commands ]
  %li
    %a(href='/lessons/lesson009') Lesson 009 [ HTML Intro. ]
  %li
    %a(href='/lessons/lesson010') Lesson 010 [ CSS Intro. ]
  %li
    %a(href='/lessons/lesson011') Lesson 011 [ Rails ERB Intro. ]
  %li
    %a(href='/lessons/lesson012') Lesson 012 [ Git Intro. ]
  %li
    %a(href='/lessons/lesson013') Lesson 013 [ Heroku Intro. ]
  %li
    %a(href='/lessons/lesson014') Lesson 014 [ Haml Intro. ]
  %li
    %a(href='/lessons/lesson015') Lesson 015 [ Rails Controller Intro. ]
  %li
    %a(href='/lessons/lesson016') Lesson 016 [ Linux useradd ]
  %li
    %a(href='/lessons/lesson017') Lesson 017 [ Postgres Intro. ]
  %li
    %a(href='/lessons/lesson018') Lesson 018 [ Rails Model Intro. ]
  %li
    %a(href='/lessons/lesson019') Lesson 019 [ SQLite Intro. ]
  %li
    %a(href='/lessons/lesson020') Lesson 020 [ Rails Scaffold Part 1 ]
  %li More lessons coming in 2019
