%h1 Lesson 015 [ Rails Controller Intro. ]

%p This lesson is a standalone lesson.

%p That means we can ignore most of the previous lessons in order to get set up.

%p I did this lesson and I started by getting access to a copy of Ubuntu 16.04.

%p After I logged into Ubuntu, I created an account named rc10:

.syntax
  %pre
    %code
      sudo useradd -m -s /bin/bash -G sudo rc10
      sudo passwd rc10
      ssh -AY rc10@localhost

%p Next, I installed some sofware using apt:

.syntax
  %pre
    =render 'lesson15a'

%p Then, I added some syntax to the end of ~rc10/.bashrc


.syntax
  %pre
    =render 'lesson15a2'


%p Next, I installed Ruby 2.6.0 in the rc10 account using rbenv:

.syntax
  %pre
    =render 'lesson15b'

%p Next, I installed Rails 5.2.2 in the rc10 account using the gem-shell-command:

.syntax
  %pre
    %code gem install rails -v 5.2.2

%p Then, I used the rails-shell-command to create a new rails-app called rc10:

.syntax
  %pre
    =render 'lesson15c'

%p Next, I enhanced the Gemfile of the rc10 rails-app.

%p Then, I started the web server using the rails-shell-command.

%p At that point I was ready to start this lesson which is Lesson 015.

%p A Rails Controller can serve a wide variety of use-cases.

%p The simplest use-case is "Create a Route".

%p I use an example to describe this use-case.

%p Suppose I deploy the rc10 rails-app to this domain: rc10dan.com

%p And imagine that I want this app to serve photos of cars.

%p When a user loads this URL: rc10dan.com/cars/ford

%p Then the user should see photos of Fords.

%p The above string: '/cars/ford' is a route.

%p Now that you know what a route is, I declare that a route can be created by creating a Rails Controller.

%p I am not forced to create a route by creating a Rails Controller.

%p I have other ways to create routes in Rails.

%p But, I can create a route by creating a Rails Controller.

%p And, the best way to create a route is by creating a Rails Controller.

%p The syntax below shows how I created some routes by creating a Rails Controller using the rails-shell-command:

.syntax
  %pre
    %code rails generate controller cars chevy dodge ford honda toyota vw

%p After I run the above shell command, my rc10 rails-app will have these routes ready for action:

%ul
  %li /cars/chevy
  %li /cars/dodge
  %li /cars/ford
  %li /cars/honda
  %li /cars/toyota
  %li /cars/vw

%p If I visit any of the above routes with a browser, Rails will show me a page.

%p If I visit this route: /cars/nissan, Rails will serve me a 404-error.

%p Under Construction

%hr/

%a(href='/lessons/lesson014') Lesson014
|
%a(href='/lessons/lesson016') Lesson016
