%h1 Lesson 017 [ Postgres Intro. ]

%p Under Construction
%p Under Construction

%p To do this lesson, you should login to the account you created in lesson002.

%p I did this lesson and I started by issuing shell commands to create a user named "sam".

.syntax
  %pre
    %code
      sudo apt update
      sudo apt upgrade
      sudo apt install openssh-server



%p Under Construction
%p Under Construction

%hr/

%a(href='/lessons/lesson016') Lesson016
|
%a(href='/lessons/lesson018') Lesson018

