%h1 Lesson 021 [ Rails Scaffold Part 2 ]

%h2 Standalone

%p This lesson is almost standalone.

%p This lesson should depend little on previous lessons (but depends some).

%p This lesson depends more on Lesson 020.

%p
  In
  %a(href='/lessons/lesson002') Lesson 002
  I asked you to install Ubuntu-16.04-Linux and then make note of the inital Linux account you created during installation.

%p To do this lesson, you should login to the account you created in Lesson 002.
