%h1 Lesson 001 [ Shop for Laptop ]

%h3 Why 17-inch Ubuntu Laptop?

%p Carpenters, Mechanics, and Chefs learn early in their training that you must have the right tools.

%p If I don't have the right tools, I will fail.

%p In addition to having the right tools, I should have the best tools.

%p For example if I need to pound a nail I should use a hammer, not a rock.

%p This attitude applies well to software development.

%p If I want to write windows software, I need a windows laptop.

%p If I want to write iphone-apps, I need a mac.

%p I have learned that the best computer for Rails development is a 17-inch Ubuntu laptop.

%p A 17-inch screen offers enough area for me to simultaneously see two windows.

%p I have developed software on a small screen; A small screen slows me down.

%p A 17-inch laptop, although large, is still portable enough to transport between home and office.

%p A laptop comes with a track-pad which makes the laptop superior to a desktop.

%p Using a track-pad with a mouse is the fastest way to write software.

%p The Ubuntu OS offers the best experience for installing software tools to support Rails development.

%p With Ubuntu I can install all the software tools I need via one shell command.

%p I have seen developers use both windows and mac to create Rails sites.

%p And I have seen them struggle with issues which I can avoid simply because I use Ubuntu.

%p For example I have seen Rails software run fine on a mac.

%p Then after that software was deployed to an Ubuntu production host, the software failed.

%p This problem could have been avoided simply by doing the development on Ubuntu.

%p This lesson offers some information related to shopping for a 17-inch Ubuntu laptop.

%hr/

%h3 System76

%p
  %a(href='http://www.system76.com/laptops' target='x')
    System76
  sells 17-inch Ubuntu laptops.
%p If you have never installed Ubuntu on a laptop, System76 is probably the best way to get a 17-inch Ubuntu laptop.

%p When I research the reputation of System76 I see evidence that they are honest and care about their customers.

%hr/

%h3 Amazon

%p I searched Amazon for a 17-inch Ubuntu laptop.

%p I found nothing sold directly by Amazon.

%p I did find a laptop sold by a third party.

%p But, I avoid buying third party products from Amazon.

%p So, I recommend that students avoid buying a 17-inch Ubuntu laptop from Amazon.

%hr/

%h3 Dell

%p At dell.com, I found some evidence that Dell sells 17-inch Ubuntu laptops.

%p At their shopping portal, I tried loading some of them into a shopping cart.

%p The online configurator only allowed me to only specify windows-10 as the OS.

%p So, I recommend that students avoid buying a 17-inch Ubuntu laptop from Dell.

%hr/

%h3 HP

%p At hp.com, I found some evidence that HP sells Ubuntu laptops:
%p
  %a(href='http://www8.hp.com/us/en/campaigns/ubuntu/index.html' target='x')
    http://www8.hp.com/us/en/campaigns/ubuntu/index.html
%p On the above page I clicked the "Learn more" link.
%p As I write this, the "Learn more" link leads to a blank white page with no content.
%p
  Also I explored
  %a(href='https://store.hp.com' target='x')
    store.hp.com
  which is the HP shopping portal.


%p After 15 minutes of study I found no evidence that I could buy a Linux laptop from HP.

%p So, I recommend that students avoid buying a 17-inch Ubuntu laptop from HP.
%hr/

%h3 Retail - Costco

%p My favorite retail vendor of 17-inch laptops is Costco.
%p The only 17-inch laptops they sell are windows-10 laptops.
%p This is not a problem if you are skilled at replacing windows-10 with Ubuntu.
%p I discuss how to replace windows-10 with Ubuntu in the next lesson.

%p For now, just assume that the best way to learn this skill is to use youtube.
%p For example, youtube offers information about installing Ubuntu on an HP Pavilion:
%p
  %a(href='https://www.google.com/search?q=youtube+install+ubuntu+linux+on+hp+pavilion' target='x')
    https://www.google.com/search?q=youtube+install+ubuntu+linux+on+hp+pavilion
%p After I buy a windows-10 laptop, I rely on youtube to help me replace windows with Ubuntu.
%p Some videos offer information on setting up a "dual-boot" laptop which can run both windows and Ubuntu.

%p I strongly advise against that idea.

%p Setting up a single-boot-Ubuntu laptop is much easier than setting up a dual-boot laptop.

%p Installation is discussed more in the next lesson.

%p Costco offers the best prices.
%p As I write this I see a 17-inch laptop for sale at Costco.com for $449.
%p
  %a(href='https://www.google.com/search?q=costco+hp+17+inch' target='x')
    https://www.google.com/search?q=costco+hp+17+inch
%p Another feature of Costco is that they will refund your money if you place the laptop in an un-bootable state during your Ubuntu installation efforts.
%p They only care about the hardware; the laptop cannot have scratches or broken glass in order to get a refund.
%p One problem with Costco is they require you to buy a membership.

%hr/

%h3 Retail - Walmart

%p
  If Costco is inconvenient for you, check out 
  %a(href='https://www.google.com/search?q=walmart+laptops' target='x')
    Walmart.
%p Like Costco, Walmart sells 17-inch windows laptops which can be converted to Ubuntu.
%p A nice feature of Walmart is that I can order a laptop from walmart.com and then I can pickup the laptop at my nearby Walmart store.
%p I like this feature because I will not get charged if the laptop disappears during shipping.
%p Also, like Costco, Walmart only cares about the hardware if I ask for a refund.
%p Walmart, though, has a more strict 15-day return policy.
%p The Costco policy is 90-days.
%p Another warning about Walmart is be careful of third party products on their website.
%p When I buy something from walmart.com I ensure the "Retailer" is Walmart.
%p The site allows me to check-box Walmart as the Retailer on the Left site of product listing pages.
%p If I buy a laptop from walmart.com and the Retailer is not Walmart, then returning the laptop for a full refund will be very difficult.
  
%hr/

%h1 Homework
%ul
  %li Obtain a 17 inch laptop which is currently running either Linux or Windows.
  %li Describe the decision process you followed to get the laptop.
  %li Find recently made Youtube videos which describe how to convert a Windows laptop to a Linux laptop.
  %li Declare one of the videos to be the best and describe why you think it is the best.
%hr/

%a(href='/lessons/lesson002') Lesson002
