%h1 Lesson 023 [ Docker Intro. ]

%h2 hello

%p I started by creating a free account on oracle cloud:

%p
  %a(href='https://www.google.com/search?q=oracle+cloud+free+trial' target='x')
    https://www.google.com/search?q=oracle+cloud+free+trial
  
%p Then, I created an ubuntu 18.04 instance on oracle cloud.

%p That instance allowed me to login to an account named "ubuntu".

%p Next, I issued shell commands:

.syntax
  %pre
    %code
      sudo -s
      apt update
      apt upgrade
      apt install emacs
      apt install docker.io
      apt install ifupdown aufs-tools debootstrap docker-doc rinse zfs-fuse
      usermod -G docker ubuntu
      shutdown -r now

%p I waited for the instance to reboot.

%p Then I logged in and ran shell commands:

.syntax
  %pre
    %code
      mkdir ~/ub18a
      cd    ~/ub18a
      docker run -it ubuntu:18.04 /bin/bash
      ls -la /
      exit


%p That worked okay so I did this next:

.syntax
  %pre
    %code
      mkdir ~/ub18b
      cd    ~/ub18b
      echo FROM ubuntu:18.04 > Dockerfile
      docker build -t ub18b .
      docker run  -it ub18b /bin/bash
      ls -la /
      exit

%p That worked okay so I did this next:

.syntax
  %pre
    %code
      mkdir ~/ub18c
      cd    ~/ub18c
      echo FROM ubuntu:18.04  >  Dockerfile
      echo RUN apt update     >> Dockerfile
      echo RUN apt -y upgrade >> Dockerfile
      echo RUN apt -y install emacs >> Dockerfile
      cat Dockerfile
      docker build -t ub18c . 
      docker run  -it ub18c /bin/bash
      which emacs
      ls -la /
      exit

%p Next:

.syntax
  %pre
    %code
      mkdir ~/ub18d
      cd    ~/ub18d
      echo apt update         >> apt.bash
      echo apt -y upgrade     >> apt.bash
      echo apt -y install git >> apt.bash
      echo FROM ubuntu:18.04           >> Dockerfile
      echo ADD apt.bash /root/apt.bash >> Dockerfile
      echo RUN bash     /root/apt.bash >> Dockerfile
      docker build -t ub18d . 
      docker run  -it ub18d /bin/bash
      which git
      ls -la /
      exit

%p Next:

.syntax
  %pre
    %code
      mkdir ~/ub18e
      cd    ~/ub18e
      emacs apt.bash
    %hr/
    %code #!/bin/bash      
    %code
      apt update
      apt -y upgrade
      apt -y install git 
    %hr/
    %code
      emacs ann.bash
    %hr/
    %code
      useradd -m -s /bin/bash -G sudo ann


%p Then:

.syntax
  %pre
    %code
      cd ~/ub18e
      emacs Dockerfile
    %hr/
    %code
      FROM ubuntu:18.04          
      ADD apt.bash /root/apt.bash
      ADD ann.bash /root/ann.bash
      RUN bash     /root/apt.bash
      RUN bash     /root/ann.bash
      CMD ["/bin/bash"]
    %hr/
    %code
      docker build -t ub18e . 
      docker run  -it ub18e

%p Q: How to install ruby into the ann account?

.syntax
  %pre
    %code
      mkdir ~/ub18f
      cd    ~/ub18f
      emacs apt.bash
    %hr/
    %code #!/bin/bash      
    %code
      apt update
      apt -y upgrade
      apt -y install emacs ruby ruby-dev
      apt -y install git apt autoconf bison build-essential
      apt -y install libssl-dev libyaml-dev libreadline6-dev
      apt -y install zlib1g-dev libncurses5-dev libffi-dev
      apt -y install libgdbm5 libgdbm-dev

    %hr/
    %code
      emacs ann.bash
    %hr/
    %code
      useradd -m -s /bin/bash -G sudo ann
      cp /root/ann_bashrc ~ann/.bashrc
      chown ann           ~ann/.bashrc
      su - ann -c 'cd ~ann; git clone https://github.com/rbenv/rbenv'
      su - ann -c 'cd ~ann; git clone https://github.com/rbenv/ruby-build .rbenv/plugins/ruby-build'

      
%p Then:

.syntax
  %pre
    %code
      cd ~/ub18f
      emacs .gemrc
    %hr/
    =render 'lesson023gemrc'

.syntax
  %pre
    %code
      cd ~/ub18f
      emacs Dockerfile
    %hr/
    %code
      FROM ubuntu:18.04          
      ADD apt.bash /root/apt.bash
      ADD ann.bash /root/ann.bash
      RUN bash     /root/apt.bash
      RUN bash     /root/ann.bash
      USER ann
      CMD ["/bin/bash"]
    %hr/
    %code
      docker build -t ub18f . 
      docker run  -it ub18f



.syntax
  %pre
    /render 'lesson023a'

%h2#hw Homework

%ul
  %li hello
  
%hr/

%a(href='/lessons/lesson022') Lesson022
