%h1 Lesson 022 [ Rails Scaffold Part 3 ]

%h2 Dependent

%p
  This lesson depends on
%ul
  %li
    %a(href='/lessons/lesson020') Lesson 020 [ Rails Scaffold Part 1 ]
  %li
    %a(href='/lessons/lesson021') Lesson 021 [ Rails Scaffold Part 2 ]

%p
  I started this lesson by reviewing my steps in Lesson 020:


%h2 Lesson 020, I Enhanced Linux:

.syntax
  %pre
    =render 'lesson018a'

%h2 Lesson 020, I created "ron" account and logged into ron account:

.syntax
  %pre
    %code
      sudo useradd -m -s /bin/bash -G sudo ron
      sudo passwd ron
      ssh ron@localhost
      
%h2 Lesson 020, I enhanced the ron account:

.syntax
  %pre
    %code /usr/bin/curl -L rails4.us/sue/.bashrc    > ~/.bashrc
    %code /usr/bin/curl -L rails4.us/sue/.emacs     > ~/.emacs
    %code /usr/bin/curl -L rails4.us/sue/.gemrc     > ~/.gemrc
    %code /usr/bin/curl -L rails4.us/sue/.gitconfig > ~/.gitconfig

%h2 Lesson 020, I installed Ruby:

.syntax
  %pre
    %code
      whoami
      cd ~ron
      git clone https://github.com/rbenv/rbenv      .rbenv
      git clone https://github.com/rbenv/ruby-build .rbenv/plugins/ruby-build
      bash
      rbenv install 2.6.0
      rbenv global  2.6.0
      gem install rails -v 5.2.2

%h2 Lesson 020, I created a new Rails app:

.syntax
  %pre
    =render 'lesson020rnew'

%h2 Lesson 020, I created "scaffolds":

.syntax
  %pre
    %code
      cd ~ron/petz1
      rails generate scaffold Owner name:string phone:string email:string location:string
      rails generate scaffold Pet name:string pettype:string age:integer owner:belongs_to

%h2 Lesson 020, I created tables:

.syntax
  %pre
    %code rails db:migrate
    
%h2 Lesson 020, I started "rails console":

.syntax
  %pre
    %code rails console

%h2 Lesson 020, I created an owner-object named: rob_grey:

.syntax
  %pre
    %code rob_grey = Owner.create :name => 'Rob Grey',
    %code :phone => '650-253-0000', 
    %code :email => 'rob@grey100.edu', 
    %code :location => 'Tahoe'

%h2 Lesson 020, I created a pet-object named: roger:

.syntax
  %pre
    %code roger = Pet.create :name => 'Roger', :pettype => 'Dog', :age => 6, :owner => rob_grey
    
%h2 Lesson 020, I enhanced owner.rb:

.syntax
  %pre
    %code
      sed -i '2s/end/  has_many :pets/ ; 2a end' app/models/owner.rb
      cat app/models/owner.rb

%h2 Lesson 020, I started rails console:

.syntax
  %pre
    %code rails console

%h2 Lesson 020, I called Owner.find_by_phone()

.syntax
  %pre
    %code rob_grey = Owner.find_by_phone '650-253-0000'

%h2 Lesson 020, I asked rob_grey to adopt a cat named: "Rebel".

.syntax
  %pre
    %code
      Pet.create :name => 'Rebel', :pettype => 'Cat', :age => 1, :owner => rob_grey

%h2 Lesson 020, I asked rob_grey to list the names of his pets:

.syntax
  %pre
    %code
      rob_grey.pets[0].name # Roger
      rob_grey.pets[1].name # Rebel
      rob_grey.pets[2].name # should fail

%p All of the above content is a quick review of Lesson 020.

%h2 Lesson 021, webserver.bash

%p After I studied Lesson 020 and understood I was ready for Lesson 021, I created a Bash script to start the Rails webserver:

.syntax
  %pre
    %code mkdir ~ron/petz1/script

.syntax
  %pre
    %code
      cd ~ron/petz1/script
      echo rails server -b 0.0.0.0 -p 3910 > webserver.bash
      chmod u+x webserver.bash

%p I used webserver.bash to start the webserver:

.syntax
  %pre
    %code
      cd ~ron/petz1
      script/webserver.bash

%p I used my browser to visit the local webserver:

%p http://localhost:3910

%p I saw this:

%img(src='/lesson021/yay3910.png')
%hr/

%h2 bin/rails routes

%p To start this lesson, I ran a simple Bash command:

.syntax
  %pre
    %code
      cd ~ron/petz1
      bin/rails routes

%p Rails responded with information about all the routes available in the app:

.syntax
  %pre
    =render 'lesson022rroutes'

%p I Lesson 021 I spent some time describing the "/pets" route.

%p We can see in the output above, we actually have two "/pets" routes:

.syntax
  %pre
    =render 'lesson022rroutes2'





%h2 UNDER CONSTRUCTION

