%h1 Lesson 003 [ Install Development Software on Ubuntu ]

%p This lesson assumes that you finished Lesson 002.

%p In Lesson 002, during installation, Ubuntu asked you for your name.

%p The name I usually give is something short like dan.

%p To do Lesson 003, I logged in as dan.

%p You will need to login to the account you created in Lesson 002.

%p After I install Ubuntu, which can be difficult, I install development software which is easier.

%p For this we rely on "Shell" commands.

%p
  If Shell commands are new to you, I discuss them more in
  %a(href='/lessons/lesson004') Lesson004.

%p If you are new to Linux, know that much of your interaction with the laptop is done using Shell commands.

%p I think of Shell commands as similar to sending SMS messages to my computer.

%p If you like the convenience and brevity of SMS, you will like Shell commands.

%p On Ubuntu I can use the "Terminal" to issue Shell commands (also I can use an editor called Emacs).

%p I get the Terminal via the round-white circle in the upper left:

%img(src='/lesson003/whitecircle.png')
%hr/

%p After you login, you should see the round-white circle in the upper left.

%p The round-white circle does not directly get us a Terminal.

%p I use the round-white circle to search for the Terminal-app.

%p After I start my Terminal-app I use the links near the top to configure it so I see black text on white background.

%p A default Terminal-app has white text on purple background which is harder to read.

%p Here is an image of a Terminal captured after I issued some Shell commands:

%img(src='/lesson003/term01.png')
%hr/

%p Most of the software I need in order to do Rails development can be installed with a few Shell commands:

.syntax
  %pre
    =render 'lesson003a'
    
%p If the above commands work okay, I press on:

.syntax
  %pre
    =render 'lesson003b'

%p If that goes well I add syntax to my ~/.bashrc file:

.syntax
  %pre
    =render 'lesson003c'
    
%p If you are new to Linux, use the app called "Text Editor" (AKA "gedit") to add the above syntax to the end of the ~/.bashrc file.

%p Make sure you type "~/.bashrc" into the gedit-filename-field so that gedit can find ~/.bashrc:

%img(src='/lesson003/gedit1.png')
%hr/

%p If you get confused, try these queries:

%ul
  %li
    %a(href='https://www.google.com/search?q=On+Ubuntu+how+to+use+gedit' target='x')
      https://www.google.com/search?q=On+Ubuntu+how+to+use+gedit
  %li
    %a(href='https://www.google.com/search?q=On+Ubuntu+how+to+use+Text+Editor' target='x')
      https://www.google.com/search?q=On+Ubuntu+how+to+use+Text+Editor

%p Also make sure you save the file after you add the syntax.

%p Next I type these Shell commands to install a "local" copy of Ruby:

.syntax
  %pre
    =render 'lesson003d'

%p I followed the above instructions on my laptop.

%p Next I typed some Shell (and Ruby) commands to convince myself the installation was good:

.syntax
  %pre
    =render 'lesson003e'

%p You might ask,
%p What is this string:
.syntax
  %pre
    %code dan@rails4us11:~$ 

%p That string is the shell prompt I saw on my laptop.

%p You will see a different shell prompt on your laptop.

%p The shell prompt is a signal from the laptop to you.

%p The shell prompt tells you the laptop is ready for your commands.

%p For now, you should ignore the shell prompt.

%p The shell prompt is not a command which you should type.

%hr/

%h1#hw Homework
%ul
  %li To start this lesson, which account should you login to?
  %li What is a Shell?
  %li What is a Shell Command?
  %li What is a Shell Prompt?
  %li What types the Shell Prompt, you or the laptop?
  %li Click/Study the icons on the Left Side of screen then answer, "Which gives the most interesting app?"
  %li Which is the most confusing?
  %li How to add more icons to the Left Side?
  %li How to remove icons from the Left Side?
%hr/
  
%a(href='/lessons/lesson002') Lesson002
|
%a(href='/lessons/lesson004') Lesson004
