%h1 Lesson 021 [ Rails Scaffold Part 2 ]

%h2 Dependent

%p
  This lesson depends on
  %a(href='/lessons/lesson020') Lesson 020 [ Rails Scaffold Part 1 ]

%p
  I started this lesson by reviewing Lesson 020.

%p To do this lesson, you should login to the account you created in Lesson 002.
