%h1 Lesson 017 [ Postgres Intro. ]

%p Under Construction
%p Under Construction

%p To do this lesson, you should login to the account you created in lesson002.

%p I did this lesson and I started by issuing shell commands to create a user named "sam".

.syntax
  %pre
    %code
      sudo apt update
      sudo apt upgrade
      sudo apt install openssh-server
      sudo useradd -m -s /bin/bash -G sudo sam
      sudo passwd sam

%p Next, I used ssh to log into the sam account:

.syntax
  %pre
    %code
      ssh sam@localhost
      whoami

%p Then, I enhanced the sam account using files from lesson016:

.syntax
  %pre
    %code /usr/bin/curl -L rails4.us/sue/.bashrc > ~/.bashrc
    %code /usr/bin/curl -L rails4.us/sue/.emacs  > ~/.emacs

%p Next, I installed Postgres:

.syntax
  %pre
    %code sudo apt install postgresql postgresql-server-dev-all libpq-dev

%p Then, I started a Bash shell in the postgres Linux account:

.syntax
  %pre
    %code sudo su - postgres

%p Next, I connected to the postgres server with the psql-CLI:

.syntax
  %pre
    %code psql -aP pager=no

%p The server responded with a prompt.

%p I typed "help" and saw this:

.syntax
  %pre
    =render 'lesson017pghelp'

%p After I studied help, I quit the psql-CLI.

%p Next, I verified that I was still inside the postgres Linux account:

.syntax
  %pre
    %code whoami

%p Then, I reconnected to the psql-CLI:

.syntax
  %pre
    %code psql -aP pager=no

I created an account (and database) inside postgres for "sam":

.syntax
  %pre
    %code CREATE ROLE sam WITH login superuser password 'santasam';
    %code CREATE DATABASE sam;

%p Next, I exited the psql-CLI.
%p That returned me to the shell of the postgres linux account.

%p I checked with a shell command:

.syntax
  %pre
    %code whoami

%p Then, I exited the postgres linux account.

%p I verified I was in the sam linux account:

.syntax
  %pre
    %code whoami

%p I connected to the Postgres server using the sam linux account:

.syntax
  %pre
    %code psql -aP pager=no

%p I issued a command to create a postgres account named "pete":

.syntax
  %pre
    %code CREATE ROLE pete WITH login superuser password 'cats1dogs2'; 

%p I issued a command to create a postgres database named "pete":

.syntax
  %pre
    %code CREATE DATABASE pete;

%p I exited psql.

%p I logged into postgres as pete:

.syntax
  %pre
    %code psql -h localhost -U pete -aP pager=no

%p I used pete to create a table:

.syntax
  %pre
    %code CREATE TABLE tab1 (col1 integer, col2 varchar, col3 date);

%p Pete created a row:

.syntax
  %pre
    %code INSERT INTO tab1 VALUES(11, 'Pete says hi', '1-1-2019');

%p Pete listed the row:

.syntax
  %pre
    %code SELECT * FROM tab1;
    
%p Pete did date arithmetic:

.syntax
  %pre
    %code SELECT col3+1 FROM tab1;

%p In Postgres I have a way to group tables.

%p I create an object called a schema.

%p Then I can place a table in a schema.

%p The default schema is called "public".
 
%p I used pete to create a schema:

.syntax
  %pre
    %code CREATE SCHEMA schema1;
    
%p Pete created a table in schema1:

.syntax
  %pre
    %code
      CREATE TABLE schema1.tab2 (col1 integer, col2 varchar, col3 date);

%p Pete created a row:

.syntax
  %pre
    %code INSERT INTO schema1.tab2 VALUES(22, 'Pete! says hi!', '1-1-2020');

%p Pete listed the row:

.syntax
  %pre
    %code SELECT * FROM schema1.tab2;

%p Pete used the "public" schema to list tab1:

.syntax
  %pre
    %code SELECT * FROM public.tab1;

%p Pete created a database named db1:

.syntax
  %pre
    %code CREATE DATABASE db1;

%p Pete connected to db1:

.syntax
  %pre
    %code \connect db1

%p Pete created a table inside db1:

.syntax
  %pre
    %code CREATE TABLE tab3 (col1 integer, col2 varchar, col3 date);

%p Pete created a row:

.syntax
  %pre
    %code INSERT INTO tab3 VALUES(300, 'Pete. 123', '2-28-2022');

%p Pete listed the row:

.syntax
  %pre
    %code
      SELECT * FROM tab3;
      SELECT * FROM public.tab3;

%p Pete tried to list tab1 and tab2:

.syntax
  %pre
    %code
      SELECT * FROM public.tab1;
      SELECT * FROM schema1.tab2;

%p Pete connected to the pete database:

.syntax
  %pre
    %code \connect pete

%p Now, Pete should be connected to the pete database.

%p Pete tried to list tab1, tab2, and tab3:

.syntax
  %pre
    %code
      SELECT * FROM public.tab1;
      SELECT * FROM schema1.tab2;
      SELECT * FROM        tab3;
      SELECT * FROM public.tab3;

%p Pete should only see tab1 and tab2 because psql prevents sharing of data between databases.

%p tab1 and tab2 are in the pete database; tab3 is in the db1 database.

%p If I need to share data between two databases I could use a Rails-script to create two simultaneous connections.

%p Then, I can use the script as a data connection between databases.

%p This, however, is a Rails topic and I will cover it in a future lesson but not now.

%h2 ROLE

%p Above, you will find syntax we used to create roles.

%p Try to find those statements.

%p I display both creation statements below:

.syntax
  %pre
    %code
      CREATE ROLE sam  WITH login superuser password 'santasam';
      CREATE ROLE pete WITH login superuser password 'cats1dogs2';

%p It is tempting to think that a Role is like a Linux account because often they both are named after a person.

%p Both a Role and a Linux account allow me to connect to a resource using a name and a password.

%p From that perspective, a Role and a Linux account are similar.

%p A Role, however owns nothing.

%p A Linux account can own these objects: Folder, File, and Process.

%p So, if the pete-role owns nothing and it creates a table named tab1, what owns tab1?

%p In the examples above we see that tab1 is owned by a database and that database is called: "pete".

%p In Postgres, many people follow the habit of creating both a Role and a Database with the same name.

%p The Postgres software encourages this because when I connect to a Role with the psql shell command, then the software will try to connect me to a database with the same name.

%p Another habit you will see is that many people give the same name to a Linux account, a Database, and a Role.

%p We saw that above when I created the sam Linux account, the sam Database, and the sam Role.

%p This is convenient because after I login to the sam Linux account, the psql shell command will allow me to connect to the sam Database, and the sam Role with a very short shell command: "psql".

%p I tried that idea and I captured this output:

.syntax
  %pre
    =render 'lesson017sam1'


%p Under Construction
%p Under Construction

%hr/

%a(href='/lessons/lesson016') Lesson016
|
%a(href='/lessons/lesson018') Lesson018

