%h1 Lesson 023 [ Docker Intro. ]

%h2 hello

%p hello

.syntax
  %pre
    /render 'lesson018a'

.syntax
  %pre
    %code
      hello
      
%h2#hw Homework

%ul
  %li hello
  
%hr/

%a(href='/lessons/lesson022') Lesson022
