%h1 Lesson 018 [ Rails Model Intro. ]

%p Under Construction

%h2 Model

%p A Rails model is a layer of software which connects your end-users to a database.

%h2 Standalone

%p This lesson is almost standalone.

%p This lesson should depend little on previous lessons (but depends some).

%p
  In
  %a(href='/lessons/lesson002') Lesson 002
  I asked you to install Ubuntu-16.04-Linux and then make note of the inital Linux account you created during installation.

%p To do this lesson, you should login to the account you created in Lesson 002.

%h2 Enhance Linux

%p
  I did this lesson and I started by walking through some of the steps I did in
  %a(href='/lessons/lesson003') Lesson 003.

%p I ran some Bash commands.

%p In previous lessons, I had run the commands below.

%p It is harmless to run them again:

.syntax
  %pre
    =render 'lesson018a'

%hr/

%a(href='/lessons/lesson017') Lesson017

