Rails Educación Para Nosotros
%a(href='/') rails4.us
%br/
%a(href='/home/about_es') Objetivo
%a(href='/home/blog_es') Blog
%a(href='/contact') Contacto
%a(href='/home/links') Enlaces
%a(href='https://meetup.com/cs101a' target='x') Meetup
%a(href='/lessons') Lecciones
%a(href='https://groups.google.com/forum/#!forum/dan101' target='x') El Foro de dan101
