Rails Training For Us
%a(href='/') rails4.us
%br/
%a(href='/about') About
%a(href='/blog') Blog
%a(href='/contact') Contact
%a(href='/home/links') Links
%a(href='https://meetup.com/cs101a' target='x') Meetup
%a(href='/lessons') Lessons
%a(href='https://groups.google.com/forum/#!forum/dan101' target='x') Dan101-Forum
